@model KM.SysControlAdmin.EN.Trainer___EN.Trainer

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha Instructor/Docente PDF</title>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <td class="logo">
                    <img src="/assets/img/logos/Logo Kerigma Music.png" alt="Logo Oficial" width="100%">
                </td>
                <td class="text">
                    <h1>Ficha Oficial - Kerigma Music</h1>
                    <h3>Teléfono: 0000-0000  Correo: kerigmamusic@gmail.com</h3>
                </td>
            </tr>
        </table>
    </div>
    <br />
</body>
</html>